.auth-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-box {
  background-color: #fff;
  padding: 40px;
  width: 300px;
  border-radius: 8px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

h2 {
  text-align: center;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #23446e;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #3966a0;
}

p {
  text-align: center;
  color: #1a314e;
  cursor: pointer;
  font-size: 14px;
}

.user-type-selection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.user-type-selection button {
  padding: 8px 12px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.user-type-selection button.active {
  background: #23446e;
  color: white;
  font-weight: bold;
}